.progress-container
  display: grid
  margin-top: 10px
  padding: 0 40px

.outer
  height: 15px
  width: 245px
  background: $text-light
  margin: 6px 0

.inner
  height: inherit
  background: $primary-color
  width: 75%

#html
  width: 100%

#css
  width: 100%

#scss
  width: 95%

#js
  width: 90%

#react
  width: 85%

#java
  width: 80%

#sql
  width: 75%
